<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    <link rel="stylesheet" href="../style/signup.css">

<body>


    <nav>
        <div id="index">
            <h1 style="color: #201f1f;">MedConnect</h1>
        </div>

        <div id="buttons">
            <button id="home">Home</button>

            <button id="signin">SignIn</button>

        </div>
    </nav>


    <h1
        style="color: white; font-family:Arial, Helvetica, sans-serif;font-size: xx-large;font-weight: 500; margin-top: 60px;">
        Welcome to Doctor's Appointment Booking</h1>


    <div class="role-buttons">
        <h1 style="color: white; font-family:Arial, Helvetica, sans-serif;font-size: xx-large;font-weight: 500;">Are you
            : </h1>
        <button onclick="showDoctorForm()">Doctor</button>
        <button onclick="showPatientForm()">Patient</button>
    </div>
    <div class="container">
        <div class="form" id="doctorForm" style="width: 400px;">
            <h2>Doctor Signup</h2>
            <form id="doctor" action="" method="">
                <label for="doctorName">Name</label>
                <input type="text" id="doctorName" name="name" required>
                <label for="doctorEmail">Email</label>
                <input type="email" id="doctorEmail" name="email" required>
                <label for="doctorPassword">Password</label>
                <input type="password" id="doctorPassword" name="password" required>
                <label for="doctorSpecialisation">Specialisation</label>
                <select id="doctorSpecialisation" name="specialisation" required>
                    <option value="heart">Heart</option>
                    <option value="kidney">Kidney</option>
                    <option value="general">General</option>
                </select>
                <label for="doctorVideocall">Video Call Availability</label>
                <select id="doctorVideocall" name="videocall" required>
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>
                </select>
                <label for="doctorImage">Image (URL)</label>
                <input type="text" id="doctorImage" name="image" required>
                <button type="submit">Signup</button>
            </form>
        </div>
        <div style="width: 400px;" class="form" id="patientForm">
            <h2>Patient Signup</h2>
            <form action="" method="">
                <label for="patientName">Name</label>
                <input type="text" id="patientName" name="name" required>
                <label for="patientEmail">Email</label>
                <input type="email" id="patientEmail" name="email" required>
                <label for="patientPassword">Password</label>
                <input type="password" id="patientPassword" name="password" required>
                <label for="patientImage">Image (URL)</label>
                <input type="text" id="patientImage" name="image" required>
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>
    <!-- this will show our spinner -->
    <div hidden id="spinner"></div>

</body>

</html>

<script src="../js/signup.js"></script>