<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../style/signin.css">
</head>

<body>

    <nav>
        <div id="index">
            <h1 style="color: #201f1f;">MedConnect</h1>
        </div>

        <div id="buttons">
            <button id="home">Home</button>

            <button id="admin">Login as ADMIN</button>

            <button id="signup">SignUp</button>
        </div>
    </nav>

    <h1 style="color: white; font-family:Arial, Helvetica, sans-serif;font-size: xx-large;font-weight: 500;margin-top: 60px;">Welcome to Doctor's Appointment Booking</h1>

    <div class="container">
        <div class="form patient">
            <h2>Login as Patient</h2>
            <form action="">
                <label for="patientEmail">Email</label>
                <input type="email" id="patientEmail" name="email" required>
                <label for="patientPassword">Password</label>
                <input type="password" id="patientPassword" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="form doctor">
            <h2>Login as Doctor</h2>
            <form action="">
                <label for="doctorEmail">Email</label>
                <input type="email" id="doctorEmail" name="email" required>
                <label for="doctorPassword">Password</label>
                <input type="password" id="doctorPassword" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <!-- this will show our spinner -->
    <div hidden id="spinner"></div>
</body>

</html>


<script src="../js/signin.js"></script>