<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
   <link rel="stylesheet" href="../style/viewadmin.css">
</head>

<body>
    <div class="navbar">
        <h1>Admin Dashboard</h1>
        <div>
            <h2 class="admin-name"></h2>
            <button class="logout-btn">Logout</button>
        </div>
    </div>

    <br>

    <div>
        <button id="viewDoc">View all Doctors</button>

        <button id="viewPat">View all Patients</button>

        <button id="viewApp">View all Appointments</button>
    </div>

    <br>
    <br>

    <div class="container">

    </div>
</body>
</html>
<script src="../js/viewadmin.js"></script>