<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="../style/admin.css">
</head>

<body>

</body>
<nav>
    <div id="index">
        <h1 style="color: #201f1f;">MedConnect</h1>
    </div>
    <div>
        <h1>Admin Panel</h1>
    </div>
    <div>
        <button id="userButton">Login as User</button>
    </div>
</nav>
<div class="container">
    <div class="form adminLogin">
        <h2>Login as ADMIN</h2>
        <form action="">
            <label for="adminEmail">Email</label>
            <input type="text" id="adminLoginEmail" name="email" required>
            <label for="adminPassword">Password</label>
            <input type="password" id="adminLoginPassword" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <div class="form admin">
        <h2>REGISTER as ADMIN</h2>
        <form action="" method="">
            <label for="adminName">Name</label>
            <input type="text" id="adminRegName" name="name" required>
            <label for="adminEmail">Email</label>
            <input type="text" id="adminRegEmail" name="email" required>
            <label for="adminPassword">Password</label>
            <input type="password" id="adminRegPassword" name="password" required>
            <label for="adminImage">Image (URL)</label>
            <input type="text" id="adminRegImage" name="image" required>
            <button type="submit">Signup</button>
        </form>
    </div>

    <!-- this will show our spinner -->
    <div hidden id="spinner"></div>
</div>

</html>

<script src="../js/admin.js"></script>