body {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #282727;
}

h1 {
    font-size: 28px;
    /* margin-top: 50px; */
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.form {
    width: 400px;
    background-color: #fff;
    border-radius: 0px;
    padding: 20px;
    margin: 0 10px;
}

.form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.form button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

#index h1 {
    cursor: pointer
}


.form button:hover {
    background-color: #c162f5;
}

#signup {
    font-size: 16px;
    padding: 10px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

#admin,
#home {
    font-size: 16px;
    padding: 10px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

body {
    margin: 0
}



nav {
    display: flex;
    justify-content: space-between;
    background-color: #dcdcdc;
}

nav h1 {
    color: #00ADB5;
    margin-left: 50px
}

#buttons button {
    margin-top: 20px;
    margin-right: 10px
}

#admin:hover,
#signup:hover,
#home:hover {
    background-color: #ca6ffb;
    color: black;
    font-weight: bolder;
}


#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}